<template>
  <div class="shadow">
    <div class="px-4 sm:px-6 lg:max-w-6xl lg:mx-auto lg:px-8">
      <div class="py-6 md:flex md:items-center md:justify-between">
        <div class="flex-1 min-w-0">
          <!-- Profile -->
          <div class="flex items-center">
            <img class="hidden h-16 w-16 rounded-full sm:block" src="/icon.png" alt="">
            <div>
              <div class="flex items-center">
                <img class="h-16 w-16 rounded-full sm:hidden" src="/icon.png" alt="">
                <h1 class="ml-3 text-2xl font-bold leading-7 text-gray-100 sm:leading-9 sm:truncate">
                  {{ title || 'Nuxt Typescript Template' }}
                </h1>
              </div>
              <div class="mt-6 flex flex-col sm:ml-3 sm:mt-1 sm:flex-row sm:flex-wrap text-sm text-gray-400 font-medium">
                {{ subtitle || 'Explore Nuxt with modern tools.' }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
const props = defineProps<{
  title?: string,
  subtitle?: string
}>()
</script>
