<template>
  <!-- This example requires Tailwind CSS v2.0+ -->
  <nav class="bg-gray-800">
    <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
      <div class="relative flex items-center justify-between h-16">
        <div class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-start">
          <div class="flex-shrink-0 flex items-center">
            <img class="block lg:hidden h-8 w-auto" src="https://tailwindui.com/img/logos/workflow-mark-indigo-500.svg" alt="Workflow">
            <img class="hidden lg:block h-8 w-auto" src="https://tailwindui.com/img/logos/workflow-logo-indigo-500-mark-white-text.svg" alt="Workflow">
          </div>
          <div class="hidden sm:flex sm:ml-6 items-center justify-between w-full">
            <div class="flex space-x-4">
              <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
              <nuxt-link v-for="(link, index) in links" :key="index" :to="link.route" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium" aria-current="page">
                {{ link.label }}
              </nuxt-link>
            </div>
            <div class="flex items-center space-x-4">
              <a
                v-for="(link, index) in rightLinks"
                :key="index"
                :href="link.route"
                target="_blank"
                rel="noopener noreferrer"
                :title="link.label"
                class="transition-colors duration-75 hover:bg-gray-700 p-2 rounded-md"
              >
                <svg-icon :name="link.icon" class="w-6 h-6 text-white" />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</template>

<script lang="ts">
import { ref, defineComponent } from '@nuxtjs/composition-api'

interface NavLink {
  label: string,
  icon?: string,
  route: string
}

export default defineComponent({
  setup () {
    const links: Array<NavLink> = [
      {
        label: 'Home',
        route: '/'
      },
      {
        label: 'Class API',
        route: '/class-api'
      },
      {
        label: 'Composition API',
        route: '/composition-api'
      },
      {
        label: 'Options API',
        route: '/options-api'
      }
    ]
    const rightLinks: Array<NavLink> = [
      {
        label: 'Typescript',
        icon: 'typescript-outline',
        route: 'https://typescript.nuxtjs.org'
      },
      {
        label: 'Composition API',
        icon: 'vue',
        route: 'https://composition-api.nuxtjs.org'
      }
    ]

    return {
      links,
      rightLinks
    }
  }
})
</script>
