<template>
  <div class="min-h-full">
    <!-- Static sidebar for desktop -->
    <layout-sidebar />

    <div class="lg:pl-64 flex flex-col flex-1">
      <main class="flex-1 pb-8">
        <!-- Page header -->
        <layout-header :title="title" :subtitle="subtitle" />

        <div class="mt-8">
          <div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">
            <slot />
          </div>
        </div>
      </main>
    </div>
  </div>
</template>

<script setup lang="ts">
import { useContext } from '@nuxtjs/composition-api'
import { NuxtConfig } from '@nuxt/types'

const props = defineProps<{
  title?: string,
  subtitle?: string
}>()
</script>
