<template>
  <div class="hidden lg:flex lg:w-64 lg:flex-col lg:fixed lg:inset-y-0">
    <!-- Sidebar component, swap this element with another sidebar if you like -->
    <div class="flex flex-col flex-grow bg-gray-800 pt-5 pb-4 overflow-y-auto">
      <nuxt-link :to="{ name: 'index' }" class="flex items-center flex-shrink-0 px-4">
        <svg-icon name="nuxt" class="h-8 w-8" />
        <div class="font-semibold text-2xl ml-2">
          Nuxt
        </div>
      </nuxt-link>
      <nav class="mt-5 flex-1 flex flex-col divide-y divide-gray-400 overflow-y-auto" aria-label="Sidebar">
        <div class="px-2 space-y-1">
          <nuxt-link v-for="link in links" :key="link.label" :to="link.route" :class="[ctx.route.value.name === link.route.name ? 'bg-gray-700 text-white' : 'text-gray-100 hover:text-white hover:bg-gray-600', 'group flex items-center px-2 py-2 text-sm leading-6 font-medium rounded-md']" :aria-current="ctx.route.value.name === link.route.name ? 'page' : undefined">
            <svg-icon v-if="link.icon" :name="link.icon" class="mr-4 flex-shrink-0 h-6 w-6 text-gray-200" aria-hidden="true" />
            {{ link.label }}
          </nuxt-link>
        </div>
        <div class="mt-6 pt-6 px-2 space-y-1">
          <nuxt-link v-for="link in linksLabs" :key="link.label" :to="link.route" :class="[ctx.route.value.name === link.route.name ? 'bg-gray-700 text-white' : 'text-gray-100 hover:text-white hover:bg-gray-600', 'group flex items-center px-2 py-2 text-sm leading-6 font-medium rounded-md']" :aria-current="ctx.route.value.name === link.route.name ? 'page' : undefined">
            <svg-icon v-if="link.icon" :name="link.icon" class="mr-4 flex-shrink-0 h-6 w-6 text-gray-200" aria-hidden="true" />
            {{ link.label }}
          </nuxt-link>
        </div>
        <div class="mt-6 pt-6 px-2 space-y-1">
          <nuxt-link v-for="link in linksBooksLabs" :key="link.label" :to="link.route" :class="[ctx.route.value.name === link.route.name ? 'bg-gray-700 text-white' : 'text-gray-100 hover:text-white hover:bg-gray-600', 'group flex items-center px-2 py-2 text-sm leading-6 font-medium rounded-md']" :aria-current="ctx.route.value.name === link.route.name ? 'page' : undefined">
            <svg-icon v-if="link.icon" :name="link.icon" class="mr-4 flex-shrink-0 h-6 w-6 text-gray-200" aria-hidden="true" />
            {{ link.label }}
          </nuxt-link>
        </div>
        <div class="mt-6 pt-6">
          <div class="px-2 space-y-1">
            <a
              v-for="link in externalLinks"
              :key="link.label"
              :href="link.url"
              target="_blank"
              rel="noopener noreferrer"
              class="group flex items-center px-2 py-2 text-sm leading-6 font-medium rounded-md text-gray-100 hover:text-white hover:bg-gray-600"
            >
              <svg-icon :name="link.icon" class="mr-4 flex-shrink-0 h-6 w-6 text-gray-200" aria-hidden="true" />
              {{ link.label }}
            </a>
          </div>
        </div>
      </nav>
    </div>
  </div>
</template>

<script setup lang="ts">
import { ref, defineComponent, useContext } from '@nuxtjs/composition-api'
import { Route } from 'vue-router'

interface NavLink {
  label: string,
  icon?: string,
  route?: {
    name: string
  },
  url?: string
}

const ctx = useContext()
const links: Array<NavLink> = [
  {
    label: 'Home',
    icon: 'home',
    route: {
      name: 'index'
    }
  },
  {
    label: 'Articles',
    icon: 'newspaper',
    route: {
      name: 'posts'
    }
  },
  {
    label: 'Class API',
    icon: 'class',
    route: {
      name: 'class-api'
    }
  },
  {
    label: 'Composition API',
    icon: 'composition',
    route: {
      name: 'composition-api'
    }
  },
  {
    label: 'Options API',
    icon: 'options',
    route: {
      name: 'options-api'
    }
  }
]
const linksLabs: Array<NavLink> = [
  {
    label: 'Composition API Setup',
    icon: 'beaker',
    route: {
      name: 'composition-api-setup'
    }
  },
  {
    label: 'Composition API Labs',
    icon: 'microscope',
    route: {
      name: 'composition-api-labs'
    }
  }
]
const linksBooksLabs: Array<NavLink> = [
  {
    label: 'Books with asyncData',
    icon: 'books',
    route: {
      name: 'composition-api-books-asyncdata'
    }
  },
  {
    label: 'Books with useAsync',
    icon: 'books',
    route: {
      name: 'composition-api-books-useasync'
    }
  }
]
const externalLinks: Array<NavLink> = [
  {
    label: 'Typescript',
    icon: 'typescript-outline',
    url: 'https://typescript.nuxtjs.org'
  },
  {
    label: 'Composition API',
    icon: 'vue',
    url: 'https://composition-api.nuxtjs.org'
  },
  {
    label: 'Windi CSS',
    icon: 'windicss',
    url: 'https://windicss.org'
  }
]
</script>
