@import "./app/vue.pcss";

@font-face {
  font-family: DMMono;
  src: url("/static/fonts/DMMono-Medium.ttf");
}

body {
  @apply bg-gray-900 text-white;
}

pre,
code {
  @apply !font-mono;
}

.dark {
  & .prose {
    & a {
      @apply !text-primary-400 !font-semibold no-underline hover: bg-primary-300 hover:bg-opacity-20 transition-colors duration-75;
    }
  }
}
