<template>
  <!-- <layout-page :title="content ? content.title : null" :subtitle="content ? content.subtitle : null">
    posts-slug
    <blocks-post v-if="content" :content="content" />
  </layout-page> -->
  <layout-page>
    <blocks-post v-if="md" :content="md" />
  </layout-page>
</template>

<script setup lang="ts">
import { Content } from '~/types'

const ctx = useContext()
const md = ref()
// const content = useAsync(() => {
//   console.log(useContext().params.value.slug)

//   // return ctx.$content(`posts/${useContext().params.value.slug}`, { deep: true })
//   //   .fetch<Content>()
//   //   .then(e => e.length ? e.find(true) : e)
// })
useFetch(async () => {
  md.value = await ctx.$content(`posts/${useContext().params.value.slug}`, { deep: true })
    .fetch()
})

onMounted(() => {
  // if (process.env.NODE_ENV === 'development' && process.client) {
  //   window.$nuxt.$on('content:update', async () => {
  //     const slug = ctx.params.value.slug
  //     content.value = await ctx.$content(`posts/${slug}`, { deep: true })
  //       .fetch<Content>()
  //       .then(e => e.length ? e.find(true) : e)
  //   })
  // }
})
</script>
