<template>
  <layout-page>
    <blocks-posts-list v-if="posts" :posts="posts" />
  </layout-page>
</template>

<script setup lang="ts">
import { Content } from '~/types'

const ctx = useContext()
const posts = useAsync<Content[]>(() => {
  return ctx.$content('posts', { deep: true })
    .fetch<Content[]>()
    .then(e => e)
})
</script>
