<template>
  <layout-page :title="title">
    <blocks-cards title="Methods overview">
      <blocks-card title="message" info="data ()">
        {{ message }}
      </blocks-card>
      <blocks-card title="computedMessage" info="computed ()">
        {{ computedMessage }}
      </blocks-card>
      <blocks-card title="asyncMessage" info="asyncData ()">
        {{ asyncMessage }}
      </blocks-card>
      <blocks-card title="fetchedTodos" info="fetch ()">
        <div v-if="$fetchState.pending">
          Fetching from frontend...
        </div>
        <ul v-else>
          <li
            v-for="todo in fetchedTodos.slice(0, 5)"
            :key="todo.id"
          >
            {{ todo.completed ? '&#9989;' : '&#11036;' }} {{ todo.id }}: {{ todo.title }}
          </li>
        </ul>
      </blocks-card>
      <blocks-card title="descriptionOnStore" info="Vuex">
        <ul>
          <li>On root store: {{ descriptionOnStore }}</li>
          <li>On setting store (namespaced): dark mode is <strong>{{ isDarkMode ? 'enabled' : 'disabled' }}</strong></li>
          <button type="button" @click.prevent="toggleDarkMode">
            Toggle dark mode
          </button>
        </ul>
      </blocks-card>
      <blocks-card title="userAgent" info="Nuxt Middleware">
        {{ userAgent }}
      </blocks-card>
      <blocks-card title="userAgent" info="Nuxt Plugin">
        {{ $truncate(userAgent || '') }}
      </blocks-card>
    </blocks-cards>
  </layout-page>
</template>

<script lang="ts">
import { Component, Vue, namespace, State } from 'nuxt-property-decorator'
import type { MetaInfo } from 'vue-meta'

import type { RootState } from '~/store'
import {
  namespace as settingStoreNamespace,
  SettingState,
  actionType
} from '~/store/setting'

interface ToDo {
  userId: number;
  id: number;
  title: string;
  completed: boolean;
}

const SettingStore = namespace(settingStoreNamespace)

@Component({
  fetchOnServer: false,
  middleware: 'user-agent',
  asyncData (context) {
    return {
      asyncMessage: "I'm defined on asyncData()",
      userAgent: context.userAgent
    }
  },
  fetch (this: ClassApi) {
    return fetch('https://jsonplaceholder.typicode.com/todos')
      .then(response => response.json())
      .then((data: ToDo[]) => {
        this.fetchedTodos = data
      })
  },
  head (this: ClassApi): MetaInfo {
    return {
      title: this.title,
      meta: [
        {
          name: 'message',
          content: this.computedMessage
        }
      ]
    }
  }
})
export default class ClassApi extends Vue {
  @State('description') descriptionOnStore!: RootState['description']
  @SettingStore.Action(actionType.TOGGLE_DARK_MODE) toggleDarkMode!: () => void
  @SettingStore.State('darkMode') isDarkMode!: SettingState['darkMode']

  message = "I'm defined on data()"
  fetchedTodos: ToDo[] = []
  asyncMessage = 'I will be overwritten by asyncData'
  userAgent = 'I will be overwritten by asyncData'
  title = 'Class API'

  get computedMessage (): string {
    return this.message.replace('data()', 'computed()')
  }
}
</script>
