<template>
  <layout-page>
    <blocks-post v-if="welcome" :content="welcome" />
  </layout-page>
</template>

<script setup lang="ts">
import Vue from 'vue'
import CopyButton from '~/components/content/copy-button.vue'
import { Content } from '~/types'

const ctx = useContext()
const welcome = useAsync<Content>(() => {
  return ctx.$content('welcome')
    .fetch<Content>()
    .then(e => e.length ? e.find(true) : e)
})

onMounted(() => {
  if (process.env.NODE_ENV === 'development' && process.client) {
    window.$nuxt.$on('content:update', async () => {
      welcome.value = await ctx.$content('welcome')
        .fetch<Content>()
        .then(e => e.length ? e.find(true) : e)
    })
  }
  setTimeout(() => {
    const blocks = document.getElementsByClassName('nuxt-content-highlight')

    for (const block of blocks) {
      const Button = Vue.extend(CopyButton)
      const component = new Button().$mount()
      block.appendChild(component.$el)
    }
  }, 500)
})
</script>
