<template>
  <button
    ref="copy"
    class="copy absolute bottom-1 right-1 z-10 bg-opacity-60 transition-opacity duration-200 opacity-0 group focus:outline-none"
  >
    <div
      class="relative p-2 text-gray-300 bg-gray-700 font-semibold leading-none shadow-lg text-sm uppercase rounded-md group-hover:bg-gray-600 group-focus:text-gray-400"
    >
      <svg-icon name="copy" class="w-4 h-4" />
    </div>
  </button>
</template>

<script lang="js">
/* eslint-disable @typescript-eslint/explicit-function-return-type */
import Clipboard from 'clipboard'

export default {
  data () {
    return {
      state: 'init'
    }
  },
  mounted () {
    const copyCode = new Clipboard(this.$refs.copy, {
      target (trigger) {
        return trigger.previousElementSibling
      }
    })

    copyCode.on('success', (event) => {
      event.clearSelection()
      this.state = 'copied'
      window.setTimeout(() => {
        this.state = 'init'
      }, 2000)
    })
  }
}
</script>

<style lang="pcss">
pre {
  @apply scrollbar-thin;
}
.prose {
  & code {
    @apply bg-gray-700 p-1 rounded-md;
  }
  & code::before {
    @apply !content-;
  }
  & code::after {
    @apply !content-;
  }
}
.prose {
  & pre {
    & code::after {
      /* content: none !important; */
      @apply !content-[none];
    }
  }
}
.nuxt-content {
  & pre {
    @apply py-5;
  }
    /* filename and copy  */
  & .nuxt-content-highlight {
    @apply relative;
    & pre {
      @apply py-5;
    }
    /* Style filename span added by @nuxt/content */
    & > .filename {
      @apply absolute top-1 right-1 z-10 font-mono text-sm tracking-tight leading-none bg-gray-700 rounded-md text-gray-300 px-2 py-1;
    }
    /* Add top padding to code blocks with filename */
    & > .filename + pre[class*='language-'] {
      /* @apply pt-8; */
    }
    &:hover {
      & > .copy {
        @apply opacity-100;
      }
    }
    /* Force style on pre elements */
    & pre[class*='language-'] {
      /* Make pre static so the relative goes to the parent (.nuxt-content-highlight) */
      @apply bg-gray-800 static;
    }
  }
}
</style>
