<template>
  <div class="grid grid-cols-1 gap-y-10 sm:grid-cols-2 gap-x-6 lg:grid-cols-5 xl:gap-x-8">
    <a v-for="(book, index) in books" :key="index" href="#" class="group">
      <div class="w-full aspect-w-1 aspect-h-1 rounded-lg overflow-hidden sm:aspect-w-2 sm:aspect-h-3">
        <img v-if="book.cover" :src="book.cover.thumbnail" :alt="book.title" class="w-full h-full object-center object-cover group-hover:opacity-75">
      </div>
      <div class="mt-4 flex items-start justify-between text-base font-medium text-gray-100">
        <h3>
          {{ book.title }}
        </h3>
      </div>
      <p v-if="book.serie" class="mt-1 text-sm italic text-gray-500">
        {{ book.serie.title }}, vol. {{ book.volume }}
      </p>
    </a>
  </div>
</template>

<script setup lang="ts">
import { Book } from '~/types'

const props = defineProps<{
  books?: Book[],
}>()
</script>
