<template>
  <div>
    <h2 class="text-lg leading-6 font-medium text-gray-100">
      {{ title }}
    </h2>
    <div class="mt-2 grid grid-cols-1 gap-5 sm:grid-cols-2 lg:grid-cols-3">
      <slot />
    </div>
  </div>
</template>

<script setup lang="ts">
const props = defineProps<{
  title?: string,
}>()
</script>
