<template>
  <div class="bg-gray-700 overflow-hidden shadow rounded-lg">
    <div class="pt-5">
      <div class="flex items-center">
        <div class="w-0 flex-1">
          <dl>
            <dt class="text-sm font-medium text-gray-400 truncate px-5">
              {{ props.title }}
            </dt>
            <dd>
              <div class="text-lg font-medium text-gray-100 h-48 overflow-y-auto scrollbar-thin px-5 py-3">
                <slot />
              </div>
            </dd>
          </dl>
        </div>
      </div>
    </div>
    <div v-if="info" class="bg-gray-800 px-5 py-3">
      <div class="text-sm font-medium">
        {{ info }}
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { useContext } from '@nuxtjs/composition-api'
import { NuxtConfig } from '@nuxt/types'

const props = defineProps<{
  title?: string,
  info?: string
}>()
</script>
