<template>
  <div>
    <h2>
      Experimental
    </h2>
    <div>
      {{ myText }}
    </div>
  </div>
</template>

<script setup lang="ts">
import { ref } from '@nuxtjs/composition-api'

const myText = ref<string>('data')
</script>
