<template>
  <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
    <div v-for="(post, index) in posts" :key="index" class="relative rounded-lg border border-gray-600 bg-gray-700 px-6 py-5 shadow-sm flex items-center space-x-3 hover:border-gray-700 focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-primary-600">
      <!-- <div class="flex-shrink-0">
          <img class="h-10 w-10 rounded-full" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
        </div> -->
      <div class="flex-1 min-w-0">
        <nuxt-link :to="{ name: 'posts-slug', params: { slug: post.slug } }" class="focus:outline-none">
          <span class="absolute inset-0" aria-hidden="true" />
          <p class="text-sm font-medium text-gray-100">
            {{ post.title }}
          </p>
          <p class="text-sm text-gray-400 truncate">
            {{ post.subtitle || post.description }}
          </p>
        </nuxt-link>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { Content } from '~/types'

const props = defineProps<{
  posts: Content[],
}>()
</script>
