<template>
  <layout-page title="Books with asyncData">
    <BooksList :books="books" />
  </layout-page>
</template>

<script setup lang="ts">
import { stringify } from 'qs'
import BooksList from '~/components/blocks/books-list.vue'
import { ApiPaginateResponse, Book, Pagination } from '~/types'

const books = ref<Book[]>()
</script>

<script lang="ts">

const queryList = {
  page: 1,
  'per-page': 32
}

export default {
  async asyncData (ctx: any): Promise<object> {
    try {
      const response: ApiPaginateResponse = await ctx.$axios.$get(
                    `/books?${stringify({
                      ...queryList
                    })}`
      )
      const pagination: Pagination = {
        pages: response.meta?.last_page,
        currentPage: response.meta?.current_page,
        perPage: response.meta?.per_page,
        total: response.meta?.total
      }
      console.log(response)

      return {
        books: response.data,
        pagination
      }
    } catch (error) {
      console.error(error)
      return {
        books: []
      }
    }
  }
}
</script>
