<template>
  <layout-page title="Books with useAsync">
    <!-- <div class="h-64 overflow-y-auto my-10">
      {{ response }}
    </div>
    <div v-if="response">
      <div class="h-64 overflow-y-auto my-10">
        {{ books }}
      </div>
      <div class="h-64 overflow-y-auto my-10">
        {{ pagination }}
      </div>
      <BooksList :books="response.data" />
    </div> -->
    <div class="h-64 overflow-y-auto my-10">
      {{ fetchedBooks }}
    </div>
    <div class="h-64 overflow-y-auto my-10">
      {{ fetchedBooks2 }}
    </div>
  </layout-page>
</template>

<script setup lang="ts">
import { stringify } from 'qs'
import { defineComponent, useAsync, useContext } from '@nuxtjs/composition-api'
import { BooksApiPaginateResponse, Book, Pagination, ApiFormated } from '~/types'
import BooksList from '~/components/blocks/books-list.vue'
import { fetchBooks, getBooks } from '~/api/book'

// components: { BooksList },
const { $axios } = useContext()
let books: Book[]
// const pagination = ref<Pagination>({})
// const queryList = {
//   page: 1,
//   'per-page': 32
// }
// const response = useAsync<BooksApiPaginateResponse>(async () =>
//   await $axios.$get(
//     `/books?${stringify({ ...queryList })}`
//   ).then((e: BooksApiPaginateResponse) => {
//     console.log(e)
//     console.log(books)

//     books.value = e.data
//     console.log(books.value)

//     pagination.value = {
// pages: e.meta?.last_page,
// currentPage: e.meta?.current_page,
// perPage: e.meta?.per_page,
// total: e.meta?.total
//     }
//     return e
//   }))

// return {
//   response,
//   books,
//   pagination
// }

// using `toRefs` to create a Reactive Reference to the `user` property of props
// const { user } = toRefs(props)

const fetchedBooks: ApiFormated = fetchBooks()
const fetchedBooks2 = getBooks()
// booksRepo.value = getBooks()
// const booksApi = ref<BooksApiPaginateResponse>()
// // const repositories = ref([])
// const booksRepo = (): void => {
// // // update `props.user` to `user.value` to access the Reference value
//   books.value = fetchBooks()
// }
// books.value = getBooks().data
// books.value = booksRepo.value.books
// onMounted(getBooksRepository)
onMounted(() => {
  console.log('Component is mounted!')

  // books = booksRepo.data as Book[]
  // console.log(books)
})

// return {
//   books: booksRepo.value.data
//   // booksApi
//   // repositories,
//   // getUserRepositories,
//   // searchQuery,
//   // repositoriesMatchingSearchQuery
// }
// })

// setup (props) {
//   let repositories = []
//   const getUserRepositories = async () => {
//     repositories = await fetchUserRepositories(props.user)
//   }

//   return {
//     repositories,
//     getUserRepositories // functions returned behave the same as methods
//   }
// }
</script>
