<template>
  <layout-page title="Composition API Labs">
    <BooksList :books="books" />
  </layout-page>
</template>

<script setup lang="ts">
import { stringify } from 'qs'
import BooksList from '~/components/blocks/books-list.vue'
import { ApiPaginateResponse, Book, Pagination } from '~/types'

const ctx = useContext()
const books = ref<Book[]>()

const queryList = {
  page: 1,
  'per-page': 32
}
const response = useAsync<ApiPaginateResponse>(() =>
  ctx.$axios.$get(`/books?${stringify({ ...queryList })}`).then((e: ApiPaginateResponse) => {
    console.log(e.data)
    return e
  }))
books.value = response.value?.data

</script>

<script lang="ts">

// const books = ref<Book[]>()

// export default {
//   async asyncData (ctx: any): Promise<object> {
//     try {

//       const response: ApiPaginateResponse = await ctx.$axios.$get(
// `/books?${stringify({
//   ...queryList
// })}`
//       )
//       const pagination: Pagination = {
//         pages: response.meta?.last_page,
//         currentPage: response.meta?.current_page,
//         perPage: response.meta?.per_page,
//         total: response.meta?.total
//       }

//       return {
//         books: response.data,
//         pagination
//       }
//     } catch (error) {
//       console.error(error)
//       return {
//         books: []
//       }
//     }
//   }
// }
</script>
