<template>
  <layout-page :title="title">
    <blocks-cards title="Methods overview">
      <blocks-card title="message" info="data ()">
        {{ message }}
      </blocks-card>
      <blocks-card title="computedMessage" info="computed ()">
        {{ computedMessage }}
      </blocks-card>
      <blocks-card title="asyncMessage" info="asyncData ()">
        {{ asyncMessage }}
      </blocks-card>
      <blocks-card title="fetchedTodos" info="fetch ()">
        <div v-if="fetchState.pending || !fetchState.timestamp">
          Fetching from frontend...
        </div>
        <ul v-else>
          <li
            v-for="todo in fetchedTodos.slice(0, 5)"
            :key="todo.id"
          >
            {{ todo.completed ? '&#9989;' : '&#11036;' }} {{ todo.id }}: {{ todo.title }}
          </li>
        </ul>
      </blocks-card>
      <blocks-card title="descriptionOnStore" info="Vuex">
        <ul>
          <li>On root store: {{ descriptionOnStore }}</li>
          <li>On setting store (namespaced): dark mode is <strong>{{ isDarkMode ? 'enabled' : 'disabled' }}</strong></li>
          <button type="button" @click.prevent="toggleDarkMode">
            Toggle dark mode
          </button>
        </ul>
      </blocks-card>
      <blocks-card title="userAgent" info="Nuxt Middleware">
        {{ userAgent }}
      </blocks-card>
      <blocks-card title="userAgent" info="Nuxt Plugin">
        {{ $truncate(userAgent || '') }}
      </blocks-card>
      <blocks-card title="books" info="Bookshelves useAsync">
        <div v-for="(book, index) in books" :key="index">
          {{ book.title }}
        </div>
      </blocks-card>
      <!-- <blocks-card title="promiseBooks" info="Bookshelves useAsync">
        <section v-if="promiseBooks && promiseBooks.length">
          <div v-for="(book, index) in promiseBooks" :key="index">
            {{ book.title }}
          </div>
        </section>
      </blocks-card> -->
    </blocks-cards>
  </layout-page>
</template>

<script setup lang="ts">
import type { RootState } from '~/store'
import { namespace as settingStoreNamespace, SettingState, actionType } from '~/store/setting'

interface ToDo {
  userId: number
  id: number
  title: string
  completed: boolean
}
interface Book {
  title: string,
  language: string,
  serie: string
}

export interface ApiResponse {
// eslint-disable-next-line @typescript-eslint/no-explicit-any
  data?: any
}

const ctx = useContext()
const bookshelvesURL = 'https://bookshelves.ink/api/books?per-page=32'
const message = ref("I'm defined on data()")
const fetchedTodos = ref<ToDo[]>([])

const descriptionOnStore = computed(() => (ctx.store.state as RootState).description)
const computedMessage = computed(() => message.value.replace('data()', 'computed()'))
const isDarkMode = computed(() => (ctx.store.state.setting as SettingState).darkMode)

const toggleDarkMode = (): void => {
  ctx.store.dispatch(`${settingStoreNamespace}/${actionType.TOGGLE_DARK_MODE}`)
}

const asyncMessage = useAsync(() => "I'm defined on asyncData()")
const userAgent = useAsync(() => ctx.userAgent)
const books = useAsync<Book[]>(() => ctx.$axios.$get(bookshelvesURL).then((e: ApiResponse) => {
  console.log(e.data)
  return e.data
}))

const { fetchState } = useFetch(() => {
  return window.fetch('https://jsonplaceholder.typicode.com/todos')
    .then(response => response.json())
    .then((data: ToDo[]) => { fetchedTodos.value = data })
})

const title = ref<string>('Composition API')

useMeta(() => ({
  title: title.value
  // meta: [{
  //   name: 'message',
  //   content: computedMessage.value
  // }]
}))

</script>

<script lang="ts">
// From https://github.com/antfu/unplugin-vue2-script-setup/issues/11
export default defineComponent({
  fetchOnServer: false,
  middleware: 'user-agent',
  head: {}
})
</script>
